body {
  background-image: url('https://github.com/InfinityPlayz9/thesquaretablepodcast/blob/main/Assets/squaretable-removebg-preview.png?raw=true');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #171717
}
