body {
  background-image: url('https://cdn.images.fecom-media.com/FE032749AB/images/HE1786572_1424702-GLS-CLF-P01.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
}
